@tailwind base;
@tailwind components;
@tailwind utilities;

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/materialicon.woff2") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@layer base {
  .pass-field .eye-open {
    display: block;
  }

  .pass-field .eye-close {
    display: none;
  }

  .pass-field.active .eye-open {
    display: none;
  }

  .pass-field.active .eye-close {
    display: block;
  }
}

@layer components {
  .input__elem {
    @apply bg-skin-base
      border
      border-b-4
      outline-0
      border-skin-muted
      text-skin-base
      rounded-sm
      px-4
      py-3
      h-12
      transition-all
      focus:border-skin-base;
  }

  .outline__btn {
    @apply h-14
    px-4
    flex
    items-center
    justify-center
    bg-skin-base
    border 
    border-skin-base
    text-skin-hover
    font-medium
    rounded
    transition
    hover:bg-skin-button-base
    hover:border-skin-base
    hover:text-skin-base-inverted;
  }
}
